.radio {
    margin-right: 10px;

}
.span {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
.radio::before {
}


.radio:checked::before {
}

.label {
    display: flex;
}

.options {
}
